body {
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat (3, 1fr);
    gap: 5px;
    height: 500px;
    width: 500px;
}

.cell {
    cursor: pointer;

}

.turn {
    margin-bottom: 100px;
    color: white;
}